@use '../custom' as *;
@use '../components/mixins' as *;
.navbar-banner{



  background-color: #101010;
  color: $white;
  font-family: 'Roboto', serif !important;
  div{

    text-align: center;
  }

}
@media only screen and (max-width: 600px) {
  .navbar-banner {
  }
}
.menu {
  font-family: 'Roboto', serif;
    @include gradient;
    img{
      height: 4.5rem;
    }
    li {
      padding: 0 0.7rem;

      a {
        color: $white;
        padding: 0 0.7rem;
        text-transform: capitalize;
        font-weight: 600;      

      }
      &:hover {
        color: $white;
      }
  
    }

  
}
